<% if (!user_id) { %>
  <ul>
    <li>
      <i id="log_in" class="fa fa-user" aria-hidden="true"></i>
    </li>
    <li>
      <i id="favorites" class="fa fa-heart-o"></i>
    </li>
    <li>
      <i id="add_property" class="fa fa-plus" aria-hidden="true"></i>
    </li>
    <li>
      <i id="my_properties" class="fa fa-briefcase" aria-hidden="true"></i>
    </li>
    <li>
      <i id="messages" class="fa fa-envelope" aria-hidden="true"></i>
    </li>
  </ul>
<% } else { %>
  <ul>
    <li>
      <i class="fa fa-user" aria-hidden="true"></i>
    </li>
    <li>
      <i id="favorites" class="fa fa-heart-o"></i>
    </li>
    <li>
      <i id="add_property" class="fa fa-plus" aria-hidden="true"></i>
    </li>
    <li>
      <i id="my_properties" class="fa fa-briefcase" aria-hidden="true"></i>
    </li>
    <li>
      <i id="messages" class="fa fa-envelope" aria-hidden="true"></i>
    </li>
  </ul>
<% } %>
