<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/popup.css" type="text/css" />
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />



  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/network.js"></script>
  <script type="text/javascript" src="/scripts/views_manager.js"></script>
</head>





<body>


  <header id="main-header">


  </header>

  <main>

    <section id="main-container">

      <div id="new-product-container"></div>

      <!-- <div id="messages-container">
        <div id="messages-list">
          <article class="message-subject">
            <img class="message-image" src="https://i.imgur.com/NGJjoTA.jpg">
            Test Subject
          </article>
          <article class="message-subject">Test Subject</article>


          <article class="message-subject">Test Subject</article>
          <article class="message-subject">Test Subject</article>
          <article class="message-subject">Test Subject</article>

        </div>
        <div id="single-message-container">
          <div class="message-content">
            <p class="incoming-message">Test message content. This is an even logner version. This is an even logner
              version. This is an even logner vers</p>
          </div>
          <div class="message-content outgoing-container">
            <p class="outgoing-message">Test message content. This is an even
              logner version. This is an even
              logner version. This is an even
              logner version.
            </p>

          </div>
          <div class="message-content">
            <p class="incoming-message">Test message content</p>

          </div>

        </div>
      </div> -->


    </section>
  </main>



  <div>

  </div>
</body>

</html>
