html {
  box-sizing: border-box;
  height: 100%;
  font-size: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
}


/* ALEX's TEST CSS CODE */
.product-detail-box {
z-index: 2;
top:20%;
left: 10%;
visibility: hidden;
position: fixed;
border: .2rem solid black;
margin: auto;
padding: 2rem;
width: 80%;
height: auto;
background-color: blanchedalmond;
vertical-align: middle;
/* display: flex; */
flex-direction: column;
/* justify-content: center; */
/* align-content: center; */

text-align: center;
}

p .inner-product-description {
  font-size: .5rem;
  color: red;
  text-align: left;

}

.inner-product-box {
  display: flex;
  flex-direction: column;
}

.inner-product-details {
  display: flex;
  flex-direction: column;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

.blur{
  z-index: 1;
  -webkit-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);
}

.body-grey {
  z-index: 1;
  background-color: rgb(0,0,0,0.6);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
