#messages-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.3rem;

}
#messages-list {
  width: 50%;
  display: flex;
  flex-direction: column;

}
#single-message-container {
  height: 100%;
  width: 50%;
  margin: 0rem .5rem 0rem .5rem;
  justify-content: space-between;
}

.message-image {
  /* height: 90%; */
  width: 3rem;
  border: 0.1rem solid black;
  margin: 0rem 0.3rem 0rem 1rem;
}

.message-subject-text {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.message-subject {
  border: 1px solid black;
  margin: 0.3rem;
  border-radius: 2rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 45%;
  margin-top: .2rem;
}

.outgoing-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 55%;
}

.incoming-message {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: flex-start;
  background-color: rgb(174, 212, 247);
}

.outgoing-message {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(191, 243, 176);
}

.message-reply-form {
  border: none;

}

.message-reply-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.message-reply-input {
  width: 60%;
  border-radius: 3rem;
  padding: 0.5rem;
  outline: none;
}
.message-reply-button {
  width: 30%;
  border-radius: 3rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: cornflowerblue;

}

@media screen and (min-width: 60em) {
  .message-reply-input {
    width: 75%;
    border-radius: 3rem;
    padding: 0.5rem;
    outline: none;
  }
  .message-reply-button {
    width: 20%;
    border-radius: 3rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: cornflowerblue;

  }
}
