#messages-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}
#messages-list {
  width: 50%;
  display: flex;
  flex-direction: column;

}
#single-message-container {
  width: 50%;
  display: flex;
  flex-direction: column

}

.message-subject {
  border: 1px solid black;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.message-content {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  height: 3rem;

}
