 #search-bar {
  display: flex;
  width: 100%;
  height: 3rem;
}

#search-form {
  width: 100%;
  height: 3rem;
  margin: 0.5rem .2rem 0.2rem 0.2rem;
}

#search-bar-text {
  width: 100%;
  border-radius: 3rem;
  padding: 0.5rem;
  outline: none;
  border: 0.5px solid black
}

.buttonIn {
  width: 300px;
  position: relative;
}

#clear-button {
  display: none;
  position: absolute;
  top: .26rem;
  border-radius: 2rem;
  right: .26rem;
  z-index: 3;
  border: none;
  height: 2.5rem;
  width: 5rem;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: rgb(37,37,37);
}

.show-button {
  display: inline-block;
}

@media screen and (min-width: 60em) {
  #search-form {
    margin-left: 210px;
    width: 100%;
    height: 3rem;
    /* margin: 0.1rem; */
  }

}
