
/* MEDIA QUERIES */
#sidebar {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  float: left;
}

#price-search-form {
  display: flex;
  flex-direction: row;
  padding: .3rem;
  justify-content: space-between;

}
#filter-button {
  align-self: center;
  width: 100%;
  background-color: rgb(37,37,37);
  color:white;
}

ul {
  padding: 0.1rem;
  margin: 0.1rem;
}

.min-max {
  width: 30%;
}

.apply-button {
  color: rgb(37,37,37);
  background-color: rgb(250, 218, 89);
  text-align: center;
  width: 35%;
  margin-left: .2rem;
}

#all-filters-container {
  display: none;
}

.categories-group li {
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
}

.category-button-normal {
  background-color: rgb(37,37,37);

}

.categories-group li:hover {
  color: rgb(37,37,37);
  background-color: rgb(254,212,48);
  border: 1px solid black;
}

.category-button-selected {
    color: rgb(37,37,37) !important;
    background-color: rgb(254,212,48);
    border: 1px solid black;
}
.categories-group {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

@media screen and (min-width: 40em) {
  /* #sidebar {
    height: 100%;
    width: 200px;
    border: 1px solid;
    overflow: auto;
    position: fixed;
    float: left;
  } */
  /* #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    flex: 0 1 calc(50% - 1em);
  } */
}

/* Desktop view */
@media screen and (min-width: 60em) {

  #sidebar {
    height: auto;
    width: 200px;
    border: 0.5px solid;
    margin-top: .5rem;
    border: 1px solid;
    background-color: white;
    border-radius: 1rem;
    overflow: auto;
    position: fixed;
    float: left;
  }

  .categories-group li {
    border-radius: 10px;
    /* background-color: rgb(222, 231, 245);; */
    color: whitesmoke;
    text-align: center;
    width: 96%;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
  .categories-group {
    /* background-color: #333; */
    overflow: auto;
    margin-top: -.5rem;
    white-space: pre-wrap;
    display: flex;
    justify-content: flex-start;
  }

  ul {
    width: 100%;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  li {
    margin: 0.2rem;
  }

  #filter-button {
    display: none;
  }

  div#all-filters-container {
    display: flex !important;
    border-radius: 3rem;
    margin: 0.1rem;
    /* display: inline-flex; */
    flex-direction: column;
    justify-content: flex-start;
  }

/*
  #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

  .product {
    flex: 0 1 calc(25% - 1em);
  } */
}
